.advert
    background-image: url("./blue.png")
    height 627px
    .content
        height 627px
        .header
            position absolute
            left 50%
            width 970px 
            margin-top 30px
            .wrap
                position relative
                left -50%