.advert
    background-image: url("./blue.png")
    height 627px
    .content
        height 627px
        .header
            margin: 0 auto;
            max-width: 971px;
            width: 100%;  
            margin-top 30px
            